
/* 
  bg - background
  fg - foreground
  br - border
*/

/* Main Colors */

@define-color main-fg         #cdd7f4;
@define-color main-bg         rgba(24, 15, 11, 0.90);
/* #11111b; */
@define-color main-br         #cdd6f4;

@define-color active-bg       #9399b2;
@define-color active-fg       #11111b;

@define-color hover-bg        #313244;
@define-color hover-fg        rgba(205, 214, 244, 0.75);

@define-color white           #ffffff;
@define-color black           #000000;

/* Module Colors */

@define-color module-fg       #f5e0dc;
@define-color workspaces      #181825;

@define-color cpuinfo         #181825;
@define-color memory          #1e1e2e;
@define-color cpu             #1e1e2e;
@define-color distro-fg       #000000;
@define-color distro-bg       #9399b2;
@define-color time            #313244;
@define-color date            #1e1e2e;
@define-color tray            #181825;

@define-color pulseaudio      #181825;
@define-color backlight       #1e1e2e;
@define-color battery         #313244;
@define-color power           #9399b2;

/* State Colors */

@define-color good            #f5e0dc;
@define-color warning         #f9e2af;
@define-color critical        #f38ba8;
@define-color full            #a6e3a1;
@define-color charging        #ff00ff;

* {
  font-family: "JetBrainsMono Nerd Font", "Kingnam Maiyuan", "Font Awesome 7 Free";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
  padding: 0;
  border: none;
  margin: 1px;
}

/* === Main Background === */

window#waybar {
  /*background: @main-bg;*/
    background: rgba(0,0,0,0.8);
}

tooltip {
  background: @main-bg;
  border: solid;
  border-width: 1.5px;
  border-radius: 8px;
  border-color: @main-br;
}
tooltip label {
  color: @main-fg;
  font-weight: normal;
  margin: -1.5px 3px;
}

.modules-left,
.modules-right,
.modules-center {
  border-radius: 18px;
  padding: 0 6px;
  background: #181926;
}

#workspaces {
  padding: 0 20px;
  border-radius: 4px;
}

#workspaces button {
  color: #5b6078;
  background: none;
  padding: 0 0px;
}

#workspaces button:hover {
  color: #a6da95;
}
#workspaces button.active {
  color: #f5bde6;
}

/*
#workspaces {
	background: @main-fg;
	margin: 0px 5px 0px 5px;
  padding: 5px 5px 5px 5px;
	border-radius: 16px;
  border: solid 0px @main-fg;
}

#workspaces button {
    padding: 0px 5px;
    border-radius: 16px;
    color: #928374;
}

#workspaces button.active {
    color: #f4d9e1;
    background-color: transparent;
    border-radius: 16px;
}

#workspaces button:hover {
	background-color: #E6B9C6;
	color: black;
	border-radius: 16px;
}
*/

#submap {
  background-color: #982014;
  border-radius: 16px;
}

#cpu,
#mpd,
#custom-gpu,
#custom-spotify,
#custom-player-percent,
#custom-data-down,
#workspaces,
#window,
#memory,
#submap,
#clock,
#bluetooth,
#pulseaudio,
#disk,
#mpris,
#network,
#battery {
  opacity: 1;
  color: @module-fg;
  margin-bottom: 0;
  border-radius: 0px;
  padding: 0 4px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0);
}

#workspaces {
  background: @workspaces;
}

#clock.time {
  background: @time;
}

#clock.date {
  background: @date;
}

#bluetooth {
  padding-right: 5px;
  background: @tray;
}

#bluetooth:hover {
  color: @hover-fg;
  text-shadow: none;
  box-shadow: none;
}
/*
#pulseaudio:hover {
  color: @hover-fg;
  text-shadow: none;
  box-shadow: none;
}
*/

#tray {
  background-color: rgba(30, 31, 41, 0.8);  /* 半透明深色背景 */
  border-radius: 12px;                      /* 圆角大小 */
  padding: 0 12px;                          /* 左右内边距 */
  margin: 0px 10px 0px 0px;                          /* 外边距 */
}

#tray > .passive {
  -gtk-icon-effect: dim;                    /* 非活动图标变暗 */
  margin: 0 20px;                            /* 图标间距 */
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;              /* 需要关注的图标高亮 */
  animation: pulse 2s infinite;
}

#network.disconnected,
#pulseaudio.muted {
    color: #aa101a;
}

window#waybar.empty #window{
  background-color: rgba(0,0,0,0);
}
